* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(120deg, #9e9736, #33947c);
  color: #fff;
  min-height: 100vh;
}
.container {
  width: 80%;
  margin: 0 auto;
  
}
.btn {
  padding: .5em 1.4em;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.btn-primary {
  background-color: #d15d39;
  color: #fff;
}
.btn-danger {
  background-color: #9b1010;
  color: #fff;
}
.btn-sm {
  padding: .5rem;
}

.checked-btn{
  background: #33947c;; 
  color: #fff;
  padding: .5rem;
 
  
}
.header {
  min-height: 5vh;
  display: flex;
  justify-content: center;
  text-align: center; 
  align-items: center;
  padding: 1rem;
 
} 
 .container .input-group { 
   display: flex; 
   width: 100%;
   margin-top: 2rem;
   margin-bottom: 2.5rem;
}

.input-group .form-control {
  padding: .7em .6em;
  border-radius: 10px 10px 10px 10px;
  border: none;
  display: block;
  width: 100%;
} 
 .input-group button {
  border-radius: 10px 10px 10px 10px;
  margin-left: 1rem;
}
.input-group ~ .invalid-feedback{
  padding: .5em .6em;
  border-radius: 10px 10px 10px 10px;
  border: solid 1px transparent;
  background-color: #d15d39;
  color:#fff;
  display: none;
}
.input-group.is-invalid{
  margin-top: 2rem;
  margin-bottom: .2rem;
}
.is-invalid .form-control,
.is-invalid .btn{
  outline: .8px solid #fa492a;
 }
.is-invalid ~ .invalid-feedback{
  display: block;
  margin-bottom: 1rem;
} 

.todo {
  background-color: #fff;
  color: #000;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 10px #9191916b;
  border: 1px solid #e6e6e66b;
  padding: .5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
}

.todo-title {
  font-size: 1.1rem;
  font-weight: 600;
}
.fa-check-circle{
  pointer-events: none;
  font-size: 1rem;

}
.completed{
  text-decoration: line-through;
  opacity: .8;
}